rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transfers/{docId} {
      allow read, write: if request.time < resource.data.expiresAt || request.auth != null;
    }
  }
}